.department {
	height: 100vh;	
	
	> .inner {
		width: 1180px; 
		&::after {
			content: '';
			display: block;
			clear: both;
		}
       
		article {
			width: 100%; 
			float: left;
			padding: 10px;
			margin-bottom: 50px;
			position: relative;
			
			>.inner {
				width: 100%;
				overflow: hidden;
				.pic {
					float: left;
					width: 30%;				
					margin-bottom: 20px;
					filter: saturate(1.0);
					transition: 0.5s;				
					
					&:nth-of-type(1){
						width: 70%;
						height: 500px;	
					}
					&:nth-of-type(5){
						width: 40%;
						height: 500px;	
						margin-right: 0;
					}
					
					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
						padding: 20px;
						overflow: hidden;
					}
					ul{
						width: 100%; height: 100%;
						background-color: rgba(0,0,0,0.6);
						color: #fff; text-align: center;						
						// line-height: 200px;
						position: absolute; 
						top: 0; left: 0;
						opacity: 0; /* 처음에 안보이게 처리 */
						transition: 0.3s; /* 변화되는 CSS에 시간차를 줌 */
						
						&::after{
							content: ''; /* 비워둠 */
							display: block;
							width: calc(100% - 60px);
							height: calc(100% - 60px);
							border: 1px solid #fff;
							box-sizing: border-box;
							position: absolute;
							left: 0; right: 0; top: 0; bottom: 0;
							margin: auto; /* 기준에서 정가운데 오도록 처리 */
						}
						&:hover{
							opacity: 1;
						}
						>h2{
							font: bold 40px/1.2 'NOTO SANS KR';
							position: absolute;
							bottom: 30%; right: 50px;
						}
						>p{
							font: 20px/1.2 'NOTO SANS KR';
							position: absolute;
							bottom: 20%; right: 50px;
						}
						
					}
					
			}
		}
	}
}

@media screen and (max-width: 1179px) {
	.Department {
		> .inner {
			article {
				width: 50%;
				margin-bottom: 40px;
				.inner {
					.pic {
						height: 260px;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 539px) {
	.Department {
		> .inner {
			article {
				width: 100%;
				margin-bottom: 30px;
				.inner {
					.pic {
						height: 200px;
					}
				}
			}
		}
	}
}
}