.youtube{
    .sub_vidual{
        background: url(../img2/sub_vidual/youtube.jpg) no-repeat center/cover;
    }

    .inner{
        .vidList{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-content: flex-start;

            article{
                width: 48%;
                height: 450px;
                border: 1px solid #555;
                margin-bottom: 40px;

                .pic{                    
                    display: block; width: 100%; height: 65%;
                    img{ width: 100%; height: 100%; object-fit: cover;  }
                }
                .con{
                    width: 100%; height: 40%; padding: 20px;

                    h2{
                        font: bold 20px/1.2 'Noto Sans KR'; color: #444; margin-bottom: 15px;
                    }
                    p{
                        font: 14px/1.4 'Noto Sans KR'; color: #666;
                    }
                    span{
                        font: 16px/1 'Noto Sans KR'; color: #999;
                        text-align: right;
                    }
                }
            }


            
        }
        figure.pop{
                width: 100%; height: 100vh;
                position: fixed; top: 0; left: 0;
                background: rgba(0,0,0,0.8);
                overflow: hidden;
                padding: 5vw;
                display: flex;
                justify-content: center;
                align-items: center;
                .btnClose{
                    position: absolute;
                    top: 50px; right: 50px; color: #fff; cursor: pointer;
                }
        }
    }
}